<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.elepay.sdk.elepay_flutter">

    <application>
        <activity
            android:name="jp.elestyle.androidapp.elepay.activity.ElepayCallbackActivity"
            android:launchMode="singleTask"
            android:exported="true" />

        <activity-alias
            android:name="${applicationId}.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:targetActivity="jp.elestyle.androidapp.elepay.activity.wxapi.WXPayEntryActivity"/>
    </application>
</manifest>
